.wrapper {
  width: 100%;
  height: 99vh;
  max-width: 1440px;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-areas: "left-panel right-panel";
}

.report-wrapper {
  grid-area: 'left-panel';
  float: left;
  height: 100%;
  border: 1px solid;
}

.right-wrapper {
  grid-area: 'right-panel';
  float: left;
  height: 100%;
  border: 1px solid;
  display: grid;
  grid-template-rows: 80% 20%;
}
